
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        // Set the date we're counting down to

        var countDownDate = new Date().getTime();
        countDownDate += input_time //note 1000 is 1 s Also need to replace 1000 with user count
        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {

                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
    <link rel="stylesheet" href="../static/cssFile.css">

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>
            <a href="#" ><h1 id="logo" >Quiz <span id="hub">Hub</span></h1> </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/"><span ></span> sign out</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2  "  ></div>
        <div class="col-lg-8 text-left">
            <div class="stylebox" >
                <h1>Editing Grade Here</h1>

                <div class="clearfix">
                    <div class="box" >

                        <form action="/updateQuiz" method="POST">
                            <p><input value="submissionID" name="ID" hidden/></p >

                            <h3>{{Question_Name}}: </h3>
                            <p>Correct Answer: {{Prof_answer}}</p >
                            <p>Actual Answer: {{student_answer}}</p >
                            <label>Point Worth : <input type = "text" name = "Choice_A_1" size="3" /> / {{point_worth}}</label >

                            <br>
                            <br>
                            <input value="username123" name="username" hidden>
                            <p><input type = "submit" value = "Update" name="Update Quiz"/></p >

                        </form>



                        </p >


                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-2 " ></div>
    </div>
</div>




</body>

</html>