<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/cssFile.css">
</head>
<body>



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <h1 id="logo">Quiz <span id="hub">Hub</span></h1>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12" id="sign_in2">
            <h1>User Sign Up </h1>
            <form action="/Signup" method="post" enctype="multipart/form-data">
                <form action="this username is exist" method="post">
                    <label for="fname">Username:</label>
                    <input style="color:#050505", type="text" id="fname" name="Name">
                    <label id="fname-error" style="display: none">username is existed, pick another one</label>
                    <br><br>
                    <label for="lname">Password:</label>
                    <input style="color:#050505", type="text" id="lname" name="Password"><br><br>
                    <select name="who" id="option">
                        <option value="Teacher">Teacher</option>
                        <option value="Student">Student</option>
                    </select>
                    <input type="submit" style="color:#8C8757" value="Submit">
                    <p><a href="/">Sign In</a></p>
                </form>
            </form>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>About Us</p>
</footer>

</body>

<script>
  let query = new URLSearchParams(window.location.search)
  if (query.has('error')) {
    if (query.get('error') === "username") {
      document.querySelector('#fname-error').style.display = 'block'
    }
  }
</script>
</html>
