<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz Generate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/cssFile.css">
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 50px}
    </style>



</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>
            <a href="/homePage" ><h1 id="logo" >Quiz <span id="hub">Hub</span></h1> </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/"><span ></span> sign out</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid text-center">
    <div class="row content" >
        <div class="col-sm-2 "></div>
        <div class="col-sm-8 text-left">

            <form action="/buildQuiz" method="POST">

                <div style="text-align: center">
                    <h3 style="color: white">Quiz Name</h3>
                    <input type = "text" name = "Quiz_name" size="120" value="" style="display: inline-block;width: 30%; min-width: 100px; color: black;" required/>
                    <h3 style="color: white">Time Limit</h3>
                    <input type = "text" id="time_limit_hour" name = "Time_Limit_hr" size="100" value="" style="display: inline-block;width: 1%; min-width: 50px; color: black;" required/>
                    <label for="time_limit_hour" style="color: white">hours </label>
                    <input type = "text" id="time_limit_min" name = "Time_Limit_min" size="100" value="" style="display: inline-block;width: 1%; min-width: 50px; color: black;" required/>
                    <label for="time_limit_min" style="color: white">minutes </label>
                </div >

                <hr>


                <label style="color: white">Question1 <input type = "text" name = "Question_1" size="120" style="color: black" /></label >
                <label for="option1" style="color: white">Question Type :</label>
                <select name="question_type_1" id="option1"  >
                    <option  value="Multiple_Choice">Multiple Choice</option>
                    <option  value="Short_Answer">Short Answer</option>
                    <option  value="True_or_False" >T/F Question </option>
                    <option value="Essay_Question">Essay Question</option>
                </select><br>
                <label style="color: white">Point Worth : <input type = "text" name = "Point_1" size="12" style="color: black"/></label ><br>
                <br>

                <p id="question_content" style="color: white">
                    <label>Answer : <input type = "text" name = "Answer_1" size="12" style="color: black"/></label ><br>
                    <label>ChoiceA <input type = "text" name = "Choice_A_1" size="120" style="color: black"/></label >
                    <label>ChoiceB <input type = "text" name = "Choice_B_1" size="120" style="color: black"/></label >
                    <label>ChoiceC <input type = "text" name = "Choice_C_1" size="120" style="color: black"/></label >
                    <label>ChoiceD <input type = "text" name = "Choice_D_1" size="120" style="color: black"/></label >

                </p >


                <p><input type = "submit" value = "Build Quiz" name="build quiz" style="color: black"/></p >
                <p><input type="submit" value="add Question" name="add question" style="color: black"/></p >
                <p><input value="teacher_name" name="name" hidden/></p >

            </form>

        </div>
        <div class="col-sm-2 "></div>

    </div>
</div>





</body>
<script>
    function displayTable() {
        console.log("display");
        let table = document.querySelector("#rubric")
        table.innerHTML = ""
        let row_count = parseInt(document.querySelector("input#row").value)
        let column_count = parseInt(document.querySelector("input#col").value)

        document.getElementById("row_text").value = row_count.toString()

        document.getElementById("col_text").value = column_count.toString()


        for (let row = 0; row < row_count; row++) {
            let row_element = document.createElement("tr")

            for (let column = 0; column < column_count; column++) {

                let cell = document.createElement("tb")
                cell.id = "cell-" + row + "-" + column
                cell.innerHTML = "<input name='" + row + "-" + column + "' style='color: black'/>"
                row_element.append(cell)
            }
            table.append(row_element)
        }

    }
</script>
<p><input value="starting_pos" name="pos" hidden/></p >
<script>
    var x1 = document.getElementById("option1");
    x1.addEventListener("change", myFunction1);




    function myFunction1() {

        if (x1.value === "Multiple_Choice"){
            document.getElementById("question_content").innerHTML =

                "<label>Answer : <input type = \"text\" name = \"Answer_1\" size=\"12\" required/></label >" +
                "<br>" +
                "<label>ChoiceA <input type = \"text\" name = \"Choice_A_1\" size=\"120\"/></label >" +
                "<label>ChoiceB <input type = \"text\" name = \"Choice_B_1\" size=\"120\"/></label >" +
                "<label>ChoiceC <input type = \"text\" name = \"Choice_C_1\" size=\"120\"/></label >" +
                "<label>ChoiceD <input type = \"text\" name = \"Choice_D_1\" size=\"120\"/></label >" ;
        }
        else if (x1.value === "Short_Answer"){
            document.getElementById("question_content").innerHTML =
                "<div class=\"form-group\">" +
                "<label for=\"comment\">Short Question_Answer:</label>" +
                "<textarea class=\"form-control\" name=\"Answer_1\" rows=\"5\" id=\"comment\" required></textarea></div>";
        }
        else if (x1.value === "Essay_Question"){

            document.getElementById("question_content").innerHTML =
                "<div class=\"form-group\">" +
                "<input type = \"text\" id=\"row_text\" name = \"row\" value='0' hidden/>"+
                "<input type = \"text\" id=\"col_text\" name = \"col\" value='0' hidden/>"+
                "<label style=\"color: white\">Row:</label><input type='number' id='row' min='1' max='5'  style='color: #1b1b1b' required> X " +
                "<label style=\"color: white\">Column:</label><input type='number' id='col' min='1' max='5'  style='color: #1b1b1b' required>  "+
                "<button onclick='displayTable()' style='color: #1b1b1b' id='update' type='button'>Create Rubric</button>"+
                "<table id='rubric'></table>" +
                "</div>";
        }
        else{
            document.getElementById("question_content").innerHTML =
                "<label> T/F answer:</label> " +
                "<br>" +
                "<input type=\"radio\" id=\"T\" name=\"T/F1\" value=\"True\">" +
                "<label for=\"T\">True</label>" +
                "<br>" +
                "<input type=\"radio\" id=\"F\" name=\"T/F1\" value=\"False\">" +
                "<label for=\"F\">False</label><br>";
        }
    }
</script>

</html>


